<div class="mainContainer">
  <div class="container">
    <br />
    <mat-card>
      <section class="mat-typography">
        <h3>Login</h3>
      </section>

      <section>
        <p class="note">
          Use "admin" for Username and "password" for Password to login
        </p>
      </section>

      <mat-divider></mat-divider>
      <br />
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="create-form">
        <mat-form-field class="field-full-width">
          <input
            matInput
            placeholder="Username"
            formControlName="username"
            type="text"
            #title
          />
          <div
            *ngIf="submitted && loginForm.controls.username.errors"
            class="error"
          >
            <div *ngIf="loginForm.controls.username.errors.required">
              Your username is required.
            </div>
          </div>
        </mat-form-field>

        <mat-form-field class="field-full-width">
          <input
            matInput
            placeholder="Password"
            formControlName="password"
            type="password"
            #title
          />
          <div
            *ngIf="submitted && loginForm.controls.password.errors"
            class="error"
          >
            <div *ngIf="loginForm.controls.password.errors.required">
              A Password is required
            </div>
          </div>
        </mat-form-field>

        <button type="submit" mat-raised-button color="primary">
          Login
        </button>
      </form>
    </mat-card>
  </div>
</div>
